.details{
  width: 500px;
  /* background-color: black; */
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  margin: auto;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);


}
.category{
  margin-top: 50px;
 
  text-align: center;
}
.need{
  color:white;
  background-color: rgb(23, 146, 146);
  text-align: center;
  cursor: pointer;
}
.needs{
  background-color: teal;
}
.ss{
  display: flex;
  align-items: center;
  cursor: pointer;

}
.logout{
  cursor: pointer;
}
.ss:hover{
  background-color: black !important;
}
.table{
  text-align: center;
}
.bts{
  cursor: pointer;
}
