@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');
.first{
  width:100%;
  height:calc(100vh - 56px);
  object-fit:cover;
  object-position: top;
  
}.second{
  position:absolute;
  /* top: 150px; */
  margin-top: 100px;
  right: 0;
  left: 0;

  text-align: center;
 font-family: 'Raleway', sans-serif;
 padding: 10px;
}
.seconds{
  position: absolute;
  margin-top:325px;
  width:400px;
  color: white;
}
.imp{
  display: flex;
  justify-content: center;

}.total{
  text-align: center;
  margin-top: 50px;

}.logs{
  border-top:2px solid black;
  border-radius: 25px;
}
.bookss{
  
  margin-top: 40px;
  color:crimson;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 400px) {
  .seconds{
   width:200px
  }
}
